export PATH="/usr/local/bin:/usr/local/sbin:/usr/local/homebrew/bin:$PATH"
# use sublime
export EDITOR="sub -w"

#nice commandline
export PS1='\[\033[0;35m\]\h\[\033[0;33m\] \w\[\033[00m\]: '

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
